<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->
    <title>Project Oa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="assets/css/style.css">-->
<!--    <link rel="stylesheet" href="assets/css/login.css">-->
     <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>
<div th:replace="fragments/header :: header"></div>
<div class="login-form">

    <form th:action="@{/chorechart/create-chore-chore}" method="post">


        <div class="form-group">
            <label>Enter A Chore: </label>
            <br>
            <input type="text" class="form-control" id="choreName" placeholder="Chore" name="choreName"/>
            <br><br><br>
        </div>
        <button type="submit" class="login-page-button"><span>Save</span></button>
    </form>

</div>

</html>
