<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Oa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/error.css}"/>


</head>
<body>
You have Hit an error.
<br>
<br>
<!--/*@thymesVar id="errorMessages" type="kotlin"*/-->
<div th:if="${errorMessages}">
<th:block th:each="errorMessage: ${errorMessages}">

    <div class="error">
        <div class="error-text">
            <strong >Danger! </strong><span th:text="${errorMessage.error}"></span>
        </div>

    </div>
    <br>
</th:block>
</div>
</body>
</html>