<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Project Oa</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>

<body>
<div th:replace="fragments/header :: header"></div>

<img th:src="@{/images/lettersPurple6.png}" style="width: 60%;margin-left: 20%;">
<div class="footer">
    <p>Kappa Sigma Chapter</p>
    <p>Theta Xi Fraternity</p>
    <p>2829 Sunset Drive</p>
    <p>Flint MI, 48503</p>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
